body {
    margin: 0px;
}

.PRINCIPIO {
    height: 80px;
    display: flex;
    background-color: rgb(238, 238, 238);
    border-bottom: black 1px solid;

}

.PRINCIPIO>div:first-child {
    width: 30%;
    justify-content: center;
    display: flex;
}

.PRINCIPIO>div:last-child {
    width: 70%;
}

.MENU {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 30px;
}

.MENU>li {
    margin: 0px 20px;
    justify-content: space-around;
}

.MENU>li>a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 600ms;
    text-decoration: none;

}

.MENU>li>a:hover {
    color: rgb(211, 207, 0);
}

.FLEX {
    display: flex;
    /* border-bottom: black 1px solid;*/
}

.INFO_SECTION {
    width: 50%;
    background-color: blanchedalmond;
    justify-content: center;
    text-align: center;
    border-bottom: black 1px solid;
}

.INFO_SECTION.FLEX {
    flex-direction: column;
}

.INFO_SECTION>h1 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    margin-bottom: 10px;
}

.INFO_SECTION>h2 {
    align-content: flex-start;
    margin-top: 5px;
    color: black;
    font-weight: normal;
}

section>div.IMG {
    width: 50%;
    background-color: blanchedalmond;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}

/*FINALIZA EL INICIO*/


article.FLEX>div {
    width: 25%;
    border-left: black 1px solid;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

article.FLEX {
    background-color: blanchedalmond;
    justify-content: space-evenly;
    color: black;

}

article.FLEX>div>h3 {
    margin-bottom: 5px;
}

article.FLEX>div>h2 {
    margin-top: 5px;
    margin-inline-start: 10px;
    font-weight: normal;
}

/*FINALIZA EL SEGUNDO CUADRO   */

aside.CUARTAPARTE {
    background-color: blanchedalmond;
    color: black;   
}

aside>div>div:first-child {
    border: black 1px solid;
}

aside>div>div:first-child>* {
    text-align: center;
}

aside>div:last-child {
    height: 33%;

}

aside>div:last-child>div:first-child {
    width: 50%;
    border: black 1px solid;
    /*PARA  EL TRIANGULO, SI CAMBIA EL PORCENTAJE EL BORDE SE VE ATRAS*/
}

aside>div:last-child>div {
    width: 30%;
    border: black 1px solid;
    text-align: center;
}

.FLEX-LISTA {
    display: flex;
    justify-content: space-around;
    border: black 1px solid;
}

/*FINALIZA*/

div>header>h1 {
    text-align: center;
    font-size: 2em;
}

.FLEX-LISTA>div:first-child {
    width: 50%;
    border-right: black 1px solid;
}

.FLEX-LISTA>div:last-child {
    background-color: rgb(228, 205, 255);
    width: 50%;
}


.FLEX-LISTA>div>aside {
    display: flex;
}



/*FINALIZACION*/

/*INICIO INTOCABLES*/
.SIXPART {
    display: flex;
    background-color: azure;
    height: 500px;
}

.SIXPART>article>div>h1 {
    text-align: center;
    padding-top: 20px;
}

cuadrado {
    display: flex;
    padding: 0px 20%;
}

cuadrado>img {
    padding: 10px;
}

cuadrado>p {
    padding-left: 50px;
    text-align: justify;
}

article>botones {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.SIXPART button {
    padding: 10px;
    margin: 10px;

}

/*FINALIZACION

INICO NUEVA PARTE*/

indicador {
    display: flex;
    background-color: aquamarine;
    height: 350px;
}

/*FINALIZACION*/

slide {
    background-image: url(../png/genios.png);
    height: 500px;
    display: block;
    background-size: contain;
    background-position: center;
}

/*FINALIZACION*/

info {
    display: flex;
    background-color: bisque;
    padding: 5% 0px;
}

info>div {
    display: flex;
    justify-content: end;
    width: 50%;
    padding-right: 5%;
}

info>div>section {
    width: 70%;
    background-color: aquamarine;
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: center;
}

info>div:last-child {
    justify-content: start;
}